In [8]:
import pandas as pd

In [9]:
data = pd.read_csv('data/data_context/data_with_context.csv')
data["c1_context"] = None
data["c2_context"] = None
data
data.to_csv('data/data_context/data_with_context.csv', index=False)

In [5]:
data.to_excel('./data/train_large.xlsx', index=False)

## Fill No Desc in Data Done

In [27]:
file_path = 'data/data_context/data_done.csv'

with open(file_path, 'r', encoding='utf-8') as file:
    for i, line in enumerate(file, start=1):  # Mulai menghitung dari baris ke-1
        if i == 1685:  # Jika baris yang dicari adalah 1685
            print(f"Baris {i}: {line}")
            break  # Setelah baris ditemukan, hentikan loop

Baris 1685: bina nusantara university,"Bina Nusantara University, also known as BINUS UNIVERSITY, is a private university in Indonesia. The main campus of the university is located in Kebon Jeruk, West Jakarta. Most of its campuses are located within the area of Greater Jakarta Region. It also has campuses at Bandung, Malang, and Semarang.",Bina Nusantara,"BINUS

In [14]:
data_done = pd.read_csv('data/data_context/data_done.csv', on_bad_lines='skip')
data_with_context = pd.read_json('data/data_context/data_with_context.jsonl', lines=True)

In [15]:
data_done

,c1,c1_context,c2,c2_context,match_type
0,aegon nederland,AEGON\r\nNederland NV provides financial servi...,Aegon,Aegon Ltd\r\n(Aegon) is a provider of pension ...,Match
1,aegon nederland,AEGON\r\nNederland NV provides financial servi...,Aegon NV,Aegon Ltd\r\n(Aegon) is a provider of pension ...,Match
2,aegon nederland,AEGON\r\nNederland NV provides financial servi...,Aegon NLD,No Desc,Match
3,aegon nederland,AEGON\r\nNederland NV provides financial servi...,Aegon Nederland BV,AEGON Nederland B.V. opent voor u één gemeensc...,Match
4,aegon nederland,AEGON\r\nNederland NV provides financial servi...,Aegaon Nederland,AEGON\r\nNederland NV provides financial servi...,Match
...,...,...,...,...,...
3831,smith & nephew,Description. Smith & Nephew is a public compan...,Smith & Nephews,The Brief. Smith & Nephew plc is a British mul...,Match
3832,smith & nephew,Description. Smith & Nephew is a public compan...,Smith & Nephew plc,Smith & Nephew plc is a portfolio medical tech...,Match
3833,smith & nephew,Description. Smith & Nephew is a public compan...,Smith 'n' Nephew,Smith And Nephew Healthcare Private Limited wa...,Match
3834,smith & nephew,Description. Smith & Nephew is a public compan...,Smith N Nephew,Smith And Nephew Healthcare Private Limited wa...,Match
3835,smith & nephew,Description. Smith & Nephew is a public compan...,Smith&Nephew,Smith+Nephew is a portfolio medical technology...,Match

In [11]:
data_with_context

,c1,c1_context,c2,c2_context,match_type
0,anz,ANZ Group Holdings Ltd (ANZ) is a provider of ...,ANZ,ANZ Group Holdings Ltd (ANZ) is a provider of ...,Match
1,anz,ANZ Group Holdings Ltd (ANZ) is a provider of ...,Australian New Zealand Banking Group,"The Australian New Zealand Banking Group, is a...",Match
2,anz,ANZ Group Holdings Ltd (ANZ) is a provider of ...,A.N.Z.,"ANZ provides research, transaction services, f...",Match
3,anz,ANZ Group Holdings Ltd (ANZ) is a provider of ...,ANZ Bank,The Australia and New Zealand Banking Group Li...,Match
4,anz,ANZ Group Holdings Ltd (ANZ) is a provider of ...,Anz,ANZ Group Holdings Ltd (ANZ) is a provider of ...,Match
...,...,...,...,...,...
32556,michigan state university,Michigan State University is the nation's prem...,University of Michigan,University of Michigan operates as an educatio...,Non-Match
32557,michigan state university,Michigan State University is the nation's prem...,Michigan Technological University,Michigan Technological University is a flagshi...,Non-Match
32558,michigan state university,Michigan State University is the nation's prem...,Michigan State College,Founded in 1855 on the ideals of democratizati...,Non-Match
32559,michigan state university,Michigan State University is the nation's prem...,Central Michigan University,Central Michigan University is a leading publi...,Non-Match
32560,michigan state university,Michigan State University is the nation's prem...,Michigan State Police,The Michigan State Police (MSP) is a full-serv...,Non-Match

In [16]:
def update_context(data_done, data_with_context):
    for index, row in data_done.iterrows():
        # Jika c1_context adalah 'No Desc', cari nilainya di data_with_context berdasarkan c1 dan c2
        if row['c1_context'] == 'No Desc':
            matched_row = data_with_context[(data_with_context['c1'] == row['c1']) & (data_with_context['c2'] == row['c2'])]
            if not matched_row.empty:
                data_done.at[index, 'c1_context'] = matched_row['c1_context'].values[0]

        # Jika c2_context adalah 'No Desc', cari nilainya di data_with_context berdasarkan c1 dan c2
        if row['c2_context'] == 'No Desc':
            matched_row = data_with_context[(data_with_context['c1'] == row['c1']) & (data_with_context['c2'] == row['c2'])]
            if not matched_row.empty:
                data_done.at[index, 'c2_context'] = matched_row['c2_context'].values[0]

# Jalankan fungsi untuk mengupdate data_done
update_context(data_done, data_with_context)

In [17]:
data_done.to_csv('data/data_context/temp.csv', index=False)
data_done.to_json('data/data_context/temp.jsonl', orient='records', lines=True)

In [18]:
data_done

,c1,c1_context,c2,c2_context,match_type
0,aegon nederland,AEGON\r\nNederland NV provides financial servi...,Aegon,Aegon Ltd\r\n(Aegon) is a provider of pension ...,Match
1,aegon nederland,AEGON\r\nNederland NV provides financial servi...,Aegon NV,Aegon Ltd\r\n(Aegon) is a provider of pension ...,Match
2,aegon nederland,AEGON\r\nNederland NV provides financial servi...,Aegon NLD,AEGON Nederland NV provides financial services...,Match
3,aegon nederland,AEGON\r\nNederland NV provides financial servi...,Aegon Nederland BV,AEGON Nederland B.V. opent voor u één gemeensc...,Match
4,aegon nederland,AEGON\r\nNederland NV provides financial servi...,Aegaon Nederland,AEGON\r\nNederland NV provides financial servi...,Match
...,...,...,...,...,...
3831,smith & nephew,Description. Smith & Nephew is a public compan...,Smith & Nephews,The Brief. Smith & Nephew plc is a British mul...,Match
3832,smith & nephew,Description. Smith & Nephew is a public compan...,Smith & Nephew plc,Smith & Nephew plc is a portfolio medical tech...,Match
3833,smith & nephew,Description. Smith & Nephew is a public compan...,Smith 'n' Nephew,Smith And Nephew Healthcare Private Limited wa...,Match
3834,smith & nephew,Description. Smith & Nephew is a public compan...,Smith N Nephew,Smith And Nephew Healthcare Private Limited wa...,Match
3835,smith & nephew,Description. Smith & Nephew is a public compan...,Smith&Nephew,Smith+Nephew is a portfolio medical technology...,Match