In [5]:
import pandas as pd
from openai import OpenAI
import os

In [3]:
df = pd.read_csv('../data/companies_sorted.csv')

# Querying Companies from latin only name countries

Untuk setiap negara, Saya mengambil 200 perusahaan dengan jumlah employee terbesar

**G20 Latin Only Names:**
1. united states
2. germany
3. india
4. united kingdom
5. france
6. russia
7. canada
8. italy
9. brazil
10. australia
11. mexico
12. spain
13. indonesia
14. netherlands

In [4]:
# List eligible countries
countries = ['united states', 'germany', 'india', 'united kingdom', 'france', 'russia', 'canada', 'italy', 'brazil', 'australia', 'mexico', 'spain', 'indonesia', 'netherlands']

# Filter rows dengan country sesuai dalam list
eligible_countries = df[df['country'].str.lower().isin(countries)]

# Sort and get top 200 companies for each country
company_names_g20 = (eligible_countries.groupby('country', group_keys=False)
                        .apply(lambda x: x.sort_values('total employee estimate', ascending=False).head(200)))

# Display the resulting dataframe
company_names_g20

C:\Users\mfauz\AppData\Local\Temp\ipykernel_30528\2140340397.py:9: DeprecationWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  .apply(lambda x: x.sort_values('total employee estimate', ascending=False).head(200)))

,Unnamed: 0,name,domain,year founded,industry,size range,locality,country,linkedin url,current employee estimate,total employee estimate
171,3882572,anz,anz.com,1835.0,banking,10001+,"melbourne, victoria, australia",australia,linkedin.com/company/anz,26156,62120
284,2772227,fujitsu,fujitsu.com,1935.0,information technology and services,10001+,"north sydney, new south wales, australia",australia,linkedin.com/company/fujitsu,17581,54138
254,4910792,telstra,telstra.com,1901.0,telecommunications,10001+,NaN,australia,linkedin.com/company/telstra,18773,49199
262,6643348,commonwealth bank,commbank.com.au,1911.0,financial services,10001+,"sydney, new south wales, australia",australia,linkedin.com/company/commonwealthbank,18480,43277
295,649918,national australia bank,nab.com.au,1858.0,banking,10001+,"melbourne, victoria, australia",australia,linkedin.com/company/national-australia-bank,17116,41910
...,...,...,...,...,...,...,...,...,...,...,...
543,2945387,university of illinois at urbana-champaign,illinois.edu,1867.0,higher education,10001+,"champaign, illinois, united states",united states,linkedin.com/company/university-of-illinois-at...,11401,37793
246,3404418,aflac,aflac.com,1955.0,insurance,10001+,"columbus, georgia, united states",united states,linkedin.com/company/aflac,19357,37516
531,6958544,ucla,ucla.edu,1919.0,higher education,10001+,"los angeles, california, united states",united states,linkedin.com/company/ucla,11624,37495
622,2330150,aerotek,aerotek.com,1983.0,staffing and recruiting,10001+,"hanover, maryland, united states",united states,linkedin.com/company/aerotek,10421,37391
510,6531889,michigan state university,msu.edu,NaN,higher education,10001+,"east lansing, michigan, united states",united states,linkedin.com/company/michigan-state-university,12003,37382

# Dataset Creation

In [5]:
# Ambil nilai name dan jadikan ke list
company_canonical_list = company_names_g20.head()['name'].tolist()

In [6]:
company_canonical_list

['anz', 'fujitsu', 'telstra', 'commonwealth bank', 'national australia bank']

## Pair

In [ ]:
def get_pair_prompt(company_canonical_list):

    return f""""
    You are an expert in company names and their aliases. Your task is to help me create a precise dataset of company names and their aliases, with a primary focus on generating -match pairs. For each company name, generate at least seven alias variations that a little similar, and refers to SAME entities, with relevant variations, typos, mispellings, abbreviations, acronyms, variations, and official legal names. The goal is to capture all possible variations that would be considered a match to the original company name.
    Your output should be in a CSV table format with three fields: company_name, alias_company_name, and match_type. Label each pair as "Non-Match" in the match_type field. If there are multiple non-matching aliases for the same company, add each alias on a separate row while maintaining the three columns.
    The output style should be simple, like this: company_name,alias_company_name,match_type
    Intesa Sanpaolo,Intesa San Paolo,Match
    Fiat Chrysler Automobiles,FCA,Match
    OpenAI,Open AI,Match
    Google,Google LLC,Match
    Apple Inc.,Apple,Match
    Microsoft Corporation,MSFT,Match
    Amazon.com,Amazon,Match
    ----------------------------------------------------------

    List of company names: {company_canonical_list}

    """

In [8]:
prompt = get_pair_prompt(company_canonical_list)

In [10]:
OPENAI_API_KEY = "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"
client = OpenAI(api_key=OPENAI_API_KEY)

# Path to the JSONL file
jsonl_file_path = '../../dataset/generate-material-dataset.jsonl'

# Fungsi untuk generate material
def generate_material(text):
    try:
        response = client.chat.completions.create(
            model="gpt-3.5-turbo",
            messages=[
                {"role": "system", "content": "You are a helpful assistant."},
                {"role": "user", "content": f"{text}"}
            ],
            max_tokens=2300,
            n=1,
            stop=None,
            temperature=0.3,
            stream=False
        )
        material = response.choices[0].message.content
        return material
    except Exception as e:
        print(f"Error: {e}")
        return ""
    

# Loop melalui setiap baris di DataFrame
for row in df.itertuples(index=True):
    index = row.Index
    print(index)
    if pd.isna(row.response):  # Jika kolom response belum ada atau NaN
        response = generate_material(row.prompt)
        df.at[index, 'response'] = response
        # Simpan DataFrame ke JSONL setiap kali setelah response dihasilkan
        df.to_json(jsonl_file_path, orient='records', lines=True)

## Non-Pair

In [ ]:
def get_nonpair_prompt(company_canonical_list):

    return f""""
    You are an expert in company names and their aliases. Your task is to help me create a precise dataset of company names and their aliases, with a primary focus on generating non-match pairs. For each company name, generate at least seven alias variations that a little similar, but refers to different entities, irrelevant variations, or incorrect names that do not accurately describe the original company. The goal is to capture all possible variations that would NOT be considered a match to the original company name.
    Your output should be in a CSV table format with three fields: company_name, alias_company_name, and match_type. Label each pair as "Non-Match" in the match_type field. If there are multiple non-matching aliases for the same company, add each alias on a separate row while maintaining the three columns.
    The output style should be simple, like this: company_name,alias_company_name,match_type
    Intesa Sanpaolo,UniCredit,Non-Match
    Fiat Chrysler Automobiles,General Motors,Non-Match
    OpenAI,Google AI,Non-Match
    Google,Apple,Non-Match
    Apple Inc.,Orange Inc.,Non-Match
    Microsoft Corporation,Microchip Technologies,Non-Match
    New York Mets, New York Yankees,Non-Match
    ----------------------------------------------------------

    List of company names: {company_canonical_list}


    """

In [ ]:
company_name,alias_company_name,match_type
anz,ANZUS,Non-Match
anz,ANZAC,Non-Match
anz,ANZ Group Ltd.,Non-Match
anz,ANZ Bank NZ,Non-Match
anz,ANZ Stadium,Non-Match
anz,Azimut,Non-Match
anz,Amz Inc.,Non-Match
fujitsu,Fujifilm,Non-Match
fujitsu,Fujikura,Non-Match
fujitsu,Fujinon,Non-Match
fujitsu,Fujifoods,Non-Match
fujitsu,Fujifabric,Non-Match
fujitsu,Fitbit,Non-Match
fujitsu,Fixitsu,Non-Match
telstra,Telestra,Non-Match
telstra,Telsys,Non-Match
telstra,Telstar,Non-Match
telstra,Telkom,Non-Match
telstra,Telestra Communications,Non-Match
telstra,Telco Systems,Non-Match
telstra,Telstra Corporation Limited,Non-Match
commonwealth bank,Common Bank,Non-Match
commonwealth bank,Commonwealth Life,Non-Match
commonwealth bank,Commonfund,Non-Match
commonwealth bank,Commerce Bank,Non-Match
commonwealth bank,CommBank,Non-Match
commonwealth bank,Commwealth Finance,Non-Match
commonwealth bank,National Commonwealth Bank,Non-Match
national australia bank,National Bank,Non-Match
national australia bank,Nationwide Australia Bank,Non-Match
national australia bank,National Western Bank,Non-Match
national australia bank,National Australian Investment Bank,Non-Match
national australia bank,Australia National Bank,Non-Match
national australia bank,NatWest,Non-Match
national australia bank,National City Bank,Non-Match